{% extends 'votings/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-6">
      <h4>Letzte Sitzungen (<a href="{% url 'collections_list' %}">alle</a>)</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</td>
            <th>Datum</td>
          </tr>
        </thead>
        {% for collection in collections %}
          <tr>
            <td>{{ collection.name }}</td>
            <td>{{ collection.time }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-sm-9 col-md-6">
      <h4>Letzte Abstimmungsperioden (<a href="{% url 'periods_list' %}">alle</a>)</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        {% for period in periods %}
          <tr>
            <td><a href="{% url 'period_detail' period.id %}">{{ period.name }}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
