{% extends 'votings/bootstrap.html' %}

{% load static %}
{% load bootstrap4 %}

{% block bootstrap4_content %}

  <script src="{% static 'votings/jquery-3.3.1.min.js' %}"></script>

    <div class="container">
      {% block bootstrap4_navbar %} {% include 'votings/navbar.html' %} {% endblock %}
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>

        </p>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    {% block additional_static %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'votings/votings.css' %}" />
    {% endblock %}
{% endblock %}
